body {

    padding: 4%;
    justify-content: center;

    display: flex;
    background-image: url('img/download.jpeg');
}

.container {
    background-color: rgb(178, 185, 188);
    /* padding: 1%; */
    justify-content: center;
    display: flex;
    width: 100%;
    max-width: 100px;
    color: whitesmoke;
    border-radius: 2px;
    border-style: double;
    border-color: black;


}

.containerr {
    position: relative;
    text-align: center;
    color: rgb(76, 119, 175);
}

.containerr .bottom-left {
    position: absolute;
    bottom: 10px;
    top: 1000px;
}

.img1 {
    padding: 1%;
}

.Education {
    color: brown;

}

.left_side_container .iii {
    background-color: rgb(117, 94, 62);
}

.navbar {

     background-color: rgba(74, 151, 146, 0.482); 
/* background-image: url('img/360_F_104619688_UP27I7cxkZKuNZn9GxCLCj0TztesAyMV.jpg'); */
    width: 100%;
    font-weight: 500;

}


.row .dd {
    background-color: black;
    color: whitesmoke;
    border-radius: 2px;
    border-color: aqua;
    border-style: solid;
    padding: 5px;
}

#list {
    padding: auto;
    display: block;
    align-items: center;
    color: white;
}

.row .dd:hover {
    color: rgb(2, 8, 16);
    background-color: rgb(76, 119, 175);
    font-weight: 400;
    font-size: 35px;
    text-decoration: dotted;
    border: none;
}

#list:hover {
    color: black;
    box-shadow: 10px;
    text-decoration: dashed;


}

.row .info {
    color: whitesmoke;
}

.row .info:hover {
    /* transition: ease-out 1s 1s; */
    color: black;

}

.row .edu {
    background-color: aqua;
}

.row .ssc {
    color: black;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    background-color: aliceblue;


}

.ssc:hover {
    color: black;
    box-shadow: 10px;
    text-decoration: dashed;
}

.pro {
    width: 100px;
    text-align: center;
    color: black;
}

.date {
    background-color: rgb(162, 212, 227);
    text-align: center;
}

.row .container2 {
    background-image: url('img/hand2.png');
    /* background: no-repeat; */
}